/* main css */

/* some styles */

/* body and text styles */
body {
  font-family: "Signika", Helvetica, Arial, sans-serif;
  font-size: 16px / 1em;
  font-weight: 400;
  line-height: 1.4;
  color: #fcfcfc;
  background-color: #3588c6;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  color: #f7f7a3;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size : 1.5rem;
    font-weight : 600;
    line-height : 1.5;
}

.info-content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.forecast-main {
  background-color: rgba(20, 20, 204, 0.5);
  margin-top: 50px;
  font-size: 1.3rem;
  text-align: center;
}

#your-city,
#forecast-value,
.current-temp {
  color: #f7f7a3;
  font-family: "Signika", Helvetica, Arial, sans-serif;
}

.temp-value span {
  display: block;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: #e74e42;
}

.yellow {
    color : #F7F785;
}
.sky {
    color : #E0FFFF;
}
.red {
  color: #e74e42;
}
.icon-large {
    font-size : 3.5rem;
    padding: 15px;
}
.hidden {
  visibility: hidden;
  height: 0;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 400px;
  height: 250px;
}

/* general spacing */
section,
.fieldset {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* general buttons */
button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  color: black;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color ease-in-out 0.3s;
}

/* - - - - - - - - - - - - - - */
/* header */
header {
  position: fixed;
  height: 20vh;
  left: 0;
  top: 0;
  right: 0;
  background-color: #3468a8;
  color: white;
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: center;
}
header section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}
header section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
header img {
  margin-right: 1rem;
}

header p {
  color: #E0FFFF;
}

@media only screen and (min-width: 660px) {
  header {
    height: 10vh;
    text-align: left;
  }
  header section {
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  header section div {
    margin-bottom: 0;
  }
}
.uppercase {
  text-transform: uppercase;
}

/* - - - - - - - - - - - - - - */
/* results */
#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin : 2rem 0; */
}

#results section {
  margin-top: 1rem;
  padding: 1rem;
  /* border : 1px solid white; */
  border-radius: 1rem;
}
#results section.error-not-found {
  background: white;
  color: #e74e42;
  border-color: #e74e42;
}
@media only screen and (min-width: 660px) {
  #results {
    flex-direction: row;
    align-items: center;
  }
  #results section {
    margin-top: 0;
  }
  #results section:nth-child(2) {
    margin: 1rem;
  }
}

/* forecast */
#forecast-section {
  padding: 0;
}

/* form */
section[role="main"] {
  margin-top: 20vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 110vh;
}

section[role="main"] h2 {
  color: #fcfcfc;
}

form {
    position : fixed;
    left : 0;
    right : 0;
    bottom : 0;
    background-color : #3468A8;
    border-top : 2px solid #3468A8;
    padding: 2rem 1rem;
    box-sizing: border-box;
}
/* make the form take up less space on larger screens */
@media only screen and (min-width: 1024px) {
    form {
        left : 70%;
        padding : 1rem 0;
        border-top-left-radius : 1rem;
    }
}

form label {
  font-weight: bold;
  font-size: 1.25rem;
  color: #fcfcfc;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

/* text field and submit button */
form input {
  font-family: "Signika", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  width: 100%;
  display: block;
  padding: 0.9rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: 1px solid grey;
}

/* error message */
.error-msg {
  background-color: #e74e42;
  color: white;
  padding: 0.5rem;
  box-sizing: border-box;
}

/* text input */
form input[type="text"]:focus,
form input[type="text"]:active {
  border: 1px solid lightseagreen;
}

form input[type="text"].error {
  color: #e74e42;
}

/* submit button */
form input[type="submit"] {
    margin-top : 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    background-color: #1a3454;
    color: #E0FFFF;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
    background: #E0FFFF;
    color: #1a3454;
}

@media only screen and (min-width: 660px) {
  section[role="main"] {
    margin-top: 10vh;
  }
  iframe {
    padding: 0;
    margin: 0;
    border: none;
    width: 500px;
    height: 300px;
  }
}
/* make the form take up less space on larger screens */
@media only screen and (min-width: 1024px) {
  form {
    left: 70%;
    padding: 1rem 0;
    border-top-left-radius: 1rem;
  }
}
